@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-[#D6C7FF] to-[#AB8BFF] bg-clip-text text-transparent;
  }
}

:root {
  --primary-color: #003B3E;
  --accent-color: #01DC82;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--primary-color);
  color: white;
}

.gradient-text {
  background: linear-gradient(90deg, #6424FF 0%, #9924B8 50%,  #24B8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
}
